<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="cSharpQuickPanel.ayarlar" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="cSharpQuickPanel.den">
                <endpoint address="" binding="basicHttpBinding" contract="cSharpQuickPanel.Iden">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/cSharpQuickPanel/den/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="cSharpQuickPanel.Service1">
                <endpoint address="" binding="basicHttpBinding" contract="cSharpQuickPanel.IService1">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/cSharpQuickPanel/Service1/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
    <userSettings>
        <cSharpQuickPanel.ayarlar>
            <setting name="size" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="opacity" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="visibility" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="renk" serializeAs="String">
                <value>48, 47, 55</value>
            </setting>
            <setting name="panelMod" serializeAs="String">
                <value>left</value>
            </setting>
        </cSharpQuickPanel.ayarlar>
    </userSettings>
</configuration>